
/* 1 */

.box1 {
    width: 100%;
    background-color: #629fd0;
    padding: 20px
    
  }
  
  .box1 a {
    
    padding: 20px;
    color: aliceblue;
    text-decoration:underline;
    font-size: 17px;
    
    text-align: center;
  }
  

  