  .pwskill{
    background-color:rgb(171, 171, 21);
    max-width: 200px;
    height: 200px;
    /* max-height: 100px; */
    padding-left: 10px;
    border-radius: 10%;
    margin-top: 100px;
    margin-left: 200px;
  }

  .pwskill img{
    width: 190px;
    border-radius: 10%;
    text-align: center;
    margin: auto;
    margin-top: 5px;
  }


  .pwskill p{
    font-size: 15px;
  }
